# Python introductory course

## Basic syntax

### In Python we can state values, operations and assign values to labels

##### We can state values like numbers, text or other

In [1]:
5

5

In [2]:
12.5

12.5

We can write text with single (`' '`), double (`" "`) or triple (`''' '''`) quotation marks. Such stated text value is called a `string`.

In [3]:
'Single quotation mark example'

'Single quotation mark example'

In [4]:
"Double quotation mark example"

'Double quotation mark example'

In [5]:
'''Triple quotation mark example

This type can be multi-line
Fourth line of a multi-line string'''

'Triple quotation mark example\n\nThis type can be multi-line\nFourth line of a multi-line string'

`\n` in example above is a character marking new line.

If text is stated with one type of quotation marks, other quotation marks can be used inside as part of the text.

In [6]:
"Text in double quotation marks with 'single quotation marks' and '''triple quotation marks''' inside"

"Text in double quotation marks with 'single quotation marks' and '''triple quotation marks''' inside"

Another type of value is so called [boolean](https://en.wikipedia.org/wiki/Boolean_data_type) or binary true-false value

In [7]:
True

True

In [8]:
False

False

#### We can construct operations out of values and operators.

##### There are unary operators like:

 - negative value (`-`)

In [9]:
-15

-15

 - negation (`not`)

In [10]:
not True

False

##### Binary operators:

 - addition (`+`)

In [11]:
12 + 5

17

 - subtraction (`-`)

In [12]:
12 - 5

7

 - modulus (remainder of division) (`%`)

In [13]:
12 % 5

2

 - multiplication (`*`)
 - division (`/`)
 - alternative (`or`)
 - conjuction (`and`)
and many others...

##### There are also `calls` which are written as the name of the call and arguments written in parentheses (`( )`) separated by commas (`,`).

 - maximum value (`max`)

In [14]:
max(1,2,3,12,5.3)

12

 - printing to the console/display (`print`)

In [15]:
print("Hello", 12, "this is an example of usage of 'print'", "First line\n\nThird line")

Hello 12 this is an example of usage of 'print' First line

Third line

and many, many others.

##### We can make statements out of several operations

In [16]:
2 + 2 * 2

6

In [17]:
print("Minimum value of", 1, 2, 3, "is", min(1, 2, 3))

Minimum value of 1 2 3 is 1

To state the order of execution, we can embed some statements in parentheses (`( )`)

In [18]:
(2 + 2) * 2

8

##### We can assign values to labels by writing the label, equals sign (`=`) and the value to be assigned. We call such assigned values `variables`.

In [19]:
a = 2
a

2

We can assign values multiple times to the same label. Each such assignment will overwrite previous value.

In [20]:
a = 3
a = "some value"
a

'some value'

This should be not confused with `is-equal` operator which is written as a double equals sign (`==`).

In [21]:
5 == 4

False

We can also assign to variables results of operations and use them in other operations.

In [22]:
a = 2 + max(1, 2, 3)
print("Minimum of", a, a + 2, a - 2, "is", min(a, a + 2, a - 2))

Minimum of 5 7 3 is 3

##### Variables can have numbers and underscores (`_`) in their names altough they always must begin with a letter.

In [23]:
vAliD_name0fa____VARIABLA1234 = 14